/**fonts**/
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@font-face {
  font-family: 'sosaregular';
  src: url("../css/fonts/sosa-regular-webfont.eot");
  src: url("../sosa-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/sosa-regular-webfont.woff") format("woff"), url("../css/fonts/sosa-regular-webfont.ttf") format("truetype"), url("../sosa-regular-webfont.svg#sosaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**imports**/
/* line 47, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 54, main.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color:#f6f6f6;
  padding-top: 0px;
  padding-bottom: 20px;
  background: #000 url("https://s3.amazonaws.com/mlkinghweb/images/boots.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/* line 63, main.scss */
a {
  color: #e3c800;
  text-decoration: none;
}
/* line 67, main.scss */
a:hover {
  color: #444444;
}

/* line 72, main.scss */
.icon {
  font-family: 'sosaregular';
  color: #F6F6F6;
  font-size: 60px;
}

/* line 78, main.scss */
.icon:before {
  content: attr(data-icon);
}

/* line 82, main.scss */
.icons {
  font-family: 'sosaregular';
  color: #F6F6F6;
  font-size: 30px;
  margin-right: .25em;
}

/* line 89, main.scss */
.icons:before {
  content: attr(data-icon);
}

/* line 93, main.scss */
.iconsd {
  font-family: 'sosaregular';
  color: #444444;
  font-size: 30px;
  margin-right: .25em;
}
/* line 98, main.scss */
.iconsd:hover {
  color: #e3c800;
}

/* line 103, main.scss */
.iconsd:before {
  content: attr(data-icon);
}

/* line 107, main.scss */
.icond {
  font-family: 'sosaregular';
  color: #444444;
  font-size: 60px;
}
/* line 111, main.scss */
.icond:hover {
  color: #e3c800;
}

/* line 116, main.scss */
.icond:before {
  content: attr(data-icon);
}

/* line 120, main.scss */
#page-wrap {
  max-width: 1024px;
  margin: 0px auto;
  padding: 0px;
  -webkit-box-shadow: 2px 10px 60px #000;
  -moz-box-shadow: 2px 10px 60px #000;
  box-shadow: 2px 10px 60px #000;
}

/* line 127, main.scss */
.header {
  font-family: "Fjalla One", sans-serif;
  padding: 0px 0px 0px 0px;
}
/* line 131, main.scss */
.header h3 {
  padding-bottom: 0px;
  font-family: "Cantarell", sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #F6F6F6;
  margin: 0px;
}
/* line 140, main.scss */
.header a {
  font-family: "Fjalla One", sans-serif;
  color: #F6F6F6;
  text-decoration: none;
}
/* line 145, main.scss */
.header a:hover {
  color: #e3c800;
}
/* line 150, main.scss */
.header p {
  color: #444444;
  font: "Cantarell", sans-serif;
  font-size: 14px;
}

.headbc{
  width: 100%;
  height: 150px;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  padding: 20px 0px;
  color: #e3c800;
  background-image: url("https://s3.amazonaws.com/mlkinghweb/images/citybanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /*background: rgba(18, 18, 18, 0.9);*/
}

.headbc h2 a{
	float: right;
	margin-right: 30px;
	font-size: 30px;
	padding:8px;
}
/* line 157, main.scss */
nav {
  height: 30px;
  width: 1024px;
  background: rgba(0, 0, 0, 0.9);
  padding: 8px 0 0 0;
}

/* line 172, main.scss */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0px;
  position: absolute;
}
/* line 178, main.scss */
nav ul li {
  display: inline-block;
  margin-right: 20px;
  float: left;
}
/* line 183, main.scss */
nav ul li a {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#nav-toggle {
display: none;
}

.arrow.prev{
	z-index:4;
	position:absolute;
	left:20px;
	height:60px;
	cursor: pointer;
	margin-top:20%;
}

.arrow.next{
	z-index:4;
	position:absolute;
	right:20px;
	height:60px;
	cursor: pointer;
	margin-top:20%;
}

.arrow.mprev{
	z-index:4;
	position:absolute;
	width:40px;
	height:40px;
	background:#000;
	margin-top:20%;
	left:20px;
}

.arrow.mnext{
	z-index:4;
	position:absolute;
	width:40px;
	height:40px;
	background: #000;
	margin-top:20%;
	right:20px;
}

.stitle{
	color: #e3c800;
}
/*** Form Styling ***/
/* line 184, ../../app/styles/main.scss */
input[type=checkbox] {
  display: none;
}

/* line 188, ../../app/styles/main.scss */
input[type=checkbox]:checked ~ #menu {
  display: block;
}

/* line 192, ../../app/styles/main.scss */
input[type="text"] {
  border: 1px solid #e3c800;
  height: 25px;
  margin-bottom: 15px;
  width: 90%;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

input[type="email"] {
  border: 1px solid #e3c800;
  height: 25px;
  margin-bottom: 15px;
  width: 90%;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

input[type="button"] {
  background: #e3c800;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #F6F6F6;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background: #000;
  cursor: pointer;
}

input[type="file"] {
  background: #444;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #F6F6F6;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  border: 1px solid #e3c800;
  height: 220px;
  margin-bottom: 15px;
  width: 90%;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
/* line 201, ../../app/styles/main.scss */
button {
  background: #e3c800;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #F6F6F6;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 208, ../../app/styles/main.scss */
button:hover {
  background: #000;
  cursor: pointer;
}

.btn-wide{
  width: 300px;
}

.btn-indent{
	margin-left: 50px;
}

.goto a{
	color:#fff;
}

/* line 214, ../../app/styles/main.scss */
label {to
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
}

/**** Main Body Styles ****/
/* line 202, main.scss */
#main {
  background: transparent;
}
/* line 205, main.scss */
#main p {
  font-family: "Cantarell", sans-serif;
}

/* line 210, main.scss */
section {
  width: 100%;
  min-height: 300px;
  background: #000;
}
/* line 214, main.scss */
section h2 {
  font-family: "Lato", sans-serif;
}
/* line 218, main.scss */
section .fr-article {
  padding: 0px 20px 0px 40px;
  overflow: hidden;
}
/* line 222, main.scss */
section .fr-article .articlefloat {
  margin-right: 20px;
  float: left;
}
/* line 227, main.scss */
section .fr-article img {
  width: 450px;
  height: 250px;
 border: 5px solid #444444;
}
/* line 232, main.scss */
section .fr-article h1 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: -10px;
  text-transform: lowercase;
  color: #e3c800;
}
/* line 238, main.scss */
section .fr-article h1:hover {
  color: #444444;
}
/* line 243, main.scss */
section .fr-article h2 {
  font-family: "Cantarell", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 23px;
  letter-spacing: -1px;
}
/* line 252, main.scss */
section .fr-article .articleimg {
  width: 450px;
  height: 250px;
}
/* line 257, main.scss */
section .fr-article img:hover {
  border: 5px solid #e3c800;
}
/* line 262, main.scss */
section .fr-article .clear {
  clear: both;
}
/* line 267, main.scss */
section .article {
  width: 100%;
}
/* line 271, main.scss */
section .article h1 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  font-size: 1.80em;
  text-transform: lowercase;
  margin-bottom: -10px;
  color: #e3c800;
}
/* line 279, main.scss */
section .article h2 {
  font-family: "Cantarell", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 23px;
  letter-spacing: -1px;
}
/* line 288, main.scss */
section .article .photobg {
  width: 100%;
  height: auto;
}

section .article ul li .photobg{
  width: 100%;
  height: auto;
}

section .article ul li .article-thumbs{
	width:100%;
	height:auto;
	padding-left:0px;
	padding-bottom:15px;
}

/* line 294, main.scss */
section .article .article-thumbs {
  background: transparent;
}
/* line 298, main.scss */
section .article .entry {
  min-height: 400px;
  padding: 20px 15px;
}

section .article .ulpad{
	padding: 10px 15px;
}

section .article .entrypage {
  min-height: 400px;
  padding: 20px 15px;
}
/* line 301, main.scss */
section .article .entry p {
  font-family: "Cantarell", sans-serif;
  font-weight: 300;
  line-height: 20px;
}
/* line 308, main.scss */
section .article ul {
  list-style-type: none;
	margin-bottom:-30px;
	cursor:pointer;
}
/* line 311, main.scss */
section .article ul li {
  display: inline-block;
  margin-right: 15px;
}
/* line 315, main.scss */
section .article ul li img {
  width: 200px;
  height: 110px;
  cursor: pointer;
  border: 4px solid #444444;
}
/* line 321, main.scss */
section .article ul li img:hover {
  border: 4px solid #e3c800;
}

/** pagination css **/
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);*/
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #444;
}
.pagination a:hover{
  background-color: #444;
  color: #fff;
}

.pagination .active a {
  background-color: #e3c800;
}
.pagination .active a {
  color: #fff;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #f1f1f1;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}

/** slider and img css **/

li.ng-scope.active img{
  border: 4px solid #e3c800;
  padding-bottom: -5px;
}
/* line 331, main.scss */
.slide {
  width: 100%;
  height: 300px;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  padding-top: 100px;
  color: #e3c800;
  background-image: url("https://s3.amazonaws.com/mlkinghweb/images/me.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
	background-position-y:center;
  text-shadow: 1px 1px 2px #000;
}
/* line 345, main.scss */
.slide p {
  line-height: 30px;
  padding-left: 30px;
}
/* line 348, main.scss */
.slide p .small {
  font-size: 1.2em;
  margin-left: 0.3em;
}
/* line 353, main.scss */
.slide p .medium {
  font-size: 1.25em;
  margin-left: 0.3em;
}
/* line 358, main.scss */
.slide p .large {
  font-size: 2.688em;
  margin-left: 0.3em;
}
/* line 363, main.scss */
.slide p .x-large {
  font-size: 60px;
  margin-left: 0.3em;
}
/* line 368, main.scss */
.slide p .space {
  margin-left: 3em;
}
/* line 372, main.scss */
.slide p .space2 {
  margin-left: 1.5em;
}

/* line 378, main.scss */
.slide2 {
  width: 100%;
  height: 300px;
  font-family: "Fjalla One", sans-serif;
  padding-top: 100px;
  color: #F6F6F6;
  background-image: url("https://s3.amazonaws.com/mlkinghweb/images/chicken.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}
/* line 393, main.scss */
.slide2 h1 {
  font-size: 70px;
  color: #e3c800;
}
/* line 398, main.scss */
.slide2 p {
  line-height: 30px;
}

.edittitle{
	margin-left:10px;
}
/* line 403, main.scss */
footer {
  height: 80px;
  padding: 40px 30px 0 0;
  background: rgba(18, 18, 18, 0.9);
  text-align: right;
}

.copy{
	color:#ccc;
	text-align:center;
}

/* line 409, main.scss */
footer .icon {
  font-size: 200px;
  line-height: 50px;
}

@media (max-width: 768px) {

.header{
z-index:5;
position:fixed;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li a{
  padding: 1em 1em 1em .5em;
  float: left;
  text-align: center;
  display: inline-block;
  font-size:18px;
}

.nav-collapse li{
 border-right: 1px solid #444
}

.nav-collapse li:last-child{
border-right:none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  height: 90px;
}

#nav-toggle{
display:block;
}

  section .fr-article {
  padding: 0px 20px 0px 40px;
  overflow: hidden;
  }

  section .fr-article:last-of-type {
  margin-bottom: -30px;
  }

  section .fr-article .articlefloat {
  margin-right: 20px;
  float: none;
  }

  section .fr-article img {
  width: 100%;
  height: auto;
  }

  section .fr-article .articleimg {
  width: 100%;
  height: auto;
  }

  .slide{
  background-image: url("https://s3.amazonaws.com/mlkinghweb/images/meshot.jpg") no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  height: 300px;
  padding-top: 50px;
  }

  .slide2{
  background-image: url("https://s3.amazonaws.com/mlkinghweb/images/chicken.jpg");
  background-size: 100%;
  background-attachment: scroll;
  padding-top: 120px;
  height: 300px;
  }

  /* line 348, main.scss */
.slide p .small {
  font-size: 1.2em;
  margin-left: 0.3em;
}
/* line 353, main.scss */
.slide p .medium {
  font-size: 1.6em;
  margin-left: 0.3em;
}
/* line 358, main.scss */
.slide p .large {
  font-size: 1.85em;
  margin-left: 0.3em;
}
/* line 363, main.scss */
.slide p .x-large {
  font-size: 40px;
  margin-left: 0.3em;
}

section .article ul li img {
  width: 100px;
  height: 55px;
  cursor: pointer;
  border: 4px solid #444444;
}

  footer .icon {
  font-size: 170px;
  line-height: 50px;
}

}

@media (max-width: 600px) {

 .welcome{
 display: none;
 }

 .nav-collapse li a{
  padding: 1em;
  text-align: left;
  width: 100%;
  display: block;
  font-size:16px;
}

.nav-collapse li{
 border-bottom: 1px solid #444;
 border-right:none;
   width: 100%;
  display: block;
}

.nav-collapse li:last-child{
border-bottom:none;
}

.nav-collapse.opened {
 min-height: 210px;
}

.arrow.mprev{
	z-index:4;
	position:absolute;
	width:40px;
	height:40px;
	background:#000;
	margin-top:20%;
	left:30px;
}

.arrow.mnext{
	z-index:4;
	position:absolute;
	width:40px;
	height:40px;
	background: #000;
	margin-top:20%;
	right:20px;
}

.article-thumbs {
 display: none;
}

section .article .ulpad{
	width:100%;
	padding: 10px 15px 10px 8px;
}

section .article ul li .photobg{
  width: 100%;
  height: 220px;
}

.entry{
 padding-top:5px;
}

 .slide{
  background-image: url("../images/meart.jpg") no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  padding-top: 0px;
  margin-bottom: -80px;
  }

  .slide2{
  display: none;
  background-image: url("../images/chicken.jpg");
  background-size: 100%;
  background-attachment: scroll;
  padding-top: 0px;
  margin-top: -70px;
  }

 .slide2 h1 {
  font-size: 40px;
  color: #e3c800;
}

 .slide2 p {
  line-height: 0px;
}

 section .fr-article {
  padding: 0px 20px 0px 20px;
  height: auto;
  }

 section .fr-article .articlefloat {
  margin-right: 20px;
  float: none;
  }

 /* line 409, main.scss */
footer .icon {
  font-size: 120px;
  line-height: 50px;
}
}
