<section>
  <!-- article image -->
  <div class="article">
  
        <!-- prev / next controls -->
        <a ng-click="showPrev()"><img class="arrow prev" src="images/arrowleft.png"/></a>
        <a ng-click="showNext()"><img class="arrow next" src="images/arrowright.png"/></a>

    <img ng-repeat="img in article.images" ng-swipe-right="showNext()" ng-swipe-left="showPrev()" ng-show="isActive($index)" ng-src="https://s3.amazonaws.com/mlkinghweb/images/{{img}}" class="photobg">
    <ul class="article-thumbs">
      <li ng-repeat="img in article.images" ng-class="{'active':isActive($index)}">
        <img ng-src="https://s3.amazonaws.com/mlkinghweb/images/{{img}}" ng-click="showPhoto($index);">
      </li>
    </ul>
    <div class="entry">
      <h1>{{article.entrytitle}}</h1>
      <h2></h2>
      <p><span>{{article.entry}}</span></p>
	    <button class="goto"><a href="{{article.url}}">go to section</a></button> | <button class="goto"><a href="#">back</a></button>
      </div>
  </div>
</section>
