<section>
  <div class="article">
  <div class="entrypage">
    <h1>contact me</h1>
    <h2>{{message}}</h2>
    <image ng-src="{{image}}" width="100%"/>
	  <p>{{content}}</p>
    <hr>
  </div>
  </div>
</section>
