<section>

  <!-- slide view -->
  <section class="slide">
    <p class="welcome"><span class="icon">B</span><span class="medium">i am a</span> <span class="x-large">musician,</span><span class="large"> writer,</span> <span class="medium">gadget aficionado,</span><br><span class="small space2">artist,</span><span class="large">husband,</span><span class="x-large">mobile consultant,</span><span class="large">traveler,</span><br><span class="medium space">and</span><span class="large">advocate for</span><span class="small">social good...</span><span class="icon">C</span></p>
  </section>
  <h2>{{message}}</h2>
<div class="fr-article" ng-controller="blogCtrl">
	<div class="articlefloat" ng-repeat="article in articles">

    <div class="articleimg"><a href="#/{{article.url}}"><img ng-src="	
https://s3.amazonaws.com/mlkinghweb/images/{{article.img}}"/></a></div>
		<a href="#/{{article.url}}"><h1>{{article.title}}</h1></a>
    <h2>{{article.subtitle}}</h2>
	</div><!-- end front article -->
</div>
<div class="clear"></div>
  <section class="slide2">
      <h1>Live. Laugh. Love. Travel. Give.</h1>
  </section>

</section>