<section>
  <div class="article">
     <div class="headbc">
  </div>
   <div class="entry">
	<div dir-paginate="(key, post) in posts | orderBy: 'date': true |  itemsPerPage: 5">
  	  <ul>
  	  <li>
  	  <a href="#/views/post/{{post.$id}}"><h1>{{post.title}}</h1></a><br>{{post.date}}
  	  </li>
  	  </ul>
    </div>
    <br><br>
      <dir-pagination-controls template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
    </div><br><br>
    <button class="goto btn-indent"><a href="#">back</a></button><br><br>
  </div>
</section>
