<section>
  <div class="article">
     <div class="headbc">
     </div>
     <div class="entry">
	     <div dir-paginate="(key, techpost) in techposts | orderBy: 'date' : true |  itemsPerPage: 5">
  	  <ul>
  	  <li>
  	  <a href="#/views/tech/{{techpost.$id}}"><h1>{{techpost.title}}</h1></a><br>{{techpost.date}}
  	  </li>
  	  </ul>
    </div>
    <br><br>
    </div>
    <dir-pagination-controls template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
  </div><br><br>
     <button class="goto btn-indent"><a href="#">back</a></button><br><br>
  </div>
</section>
