<section>
  <div class="article">
     <div class="headbc">
  </div>
     <div class="entry">
	     <div dir-paginate="(key, travelpost) in travelposts | orderBy: 'date' : true |  itemsPerPage: 5">
  	  <ul>
  	  <li>
  	  <a href="#/views/travel/{{travelpost.$id}}"><h1>{{travelpost.title}}</h1></a><br>{{travelpost.date}}
  	  </li>
  	  </ul>
    </div>
    <br><br>
    </div>
    <dir-pagination-controls template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
  </div><br><br>
    <button class="goto btn-indent"><a href="#">back</a></button><br><br>
  </div>
</section>
