<section>
  <!-- post image -->
  <div class="article">
  
        <!-- prev / next controls -->
        <a ng-click="showPrev()"><img class="arrow prev" src="images/arrowleft.png"/></a>
        <a ng-click="showNext()"><img class="arrow next" src="images/arrowright.png"/></a>

       <img ng-repeat="image in foodpost.images" ng-swipe-right="showNext()" ng-swipe-left="showPrev()" ng-show="isActive($index)" ng-src="https://s3.amazonaws.com/mlkinghweb/images/{{image}}" class="photobg">
		    <ul class="article-thumbs">
		      <li ng-repeat="image in foodpost.images" ng-class="{'active':isActive($index)}">
		        <img ng-src="https://s3.amazonaws.com/mlkinghweb/images/{{image}}" ng-click="showPhoto($index);">
		      </li>
		    </ul>
    <div class="entry">
      <h1>{{foodpost.title}}</h1><br>
      	{{foodpost.date}}
	     <p>{{foodpost.entry1}}</p>
	     <p>{{foodpost.entry2}}</p><br>
	     <button class="goto"><a href="#/myfood">back</a></button>
      </div>
  </div>
</section>