<section>
  <div class="article">
      <div class="entry">
      <h1>Welcome {{user.email}}</h1>
    <!-- <h2>{{message}}</h2> -->
<strong>You're logged in!!</strong>
<h2><a href="" ng-click="logout()">Logout</a></h2>
<hr>
<!-- firebase -->
<table width="100%"><tr><td valign="top" width="50%">
<h2>MY LIFE</h2>
<div ng-controller="postCtrl">

    <form ng-submit="addPost(post)">
      Date<br>
      <input type="text" ng-model="post.date"/><br>
      Title<br>
      <input type="text" ng-model="post.title"/><br>
      Excerpt<br>
      <textarea rows="3" cols="30" ng-model="post.excerpt"></textarea> <br>Paragraph 1<br>
      <textarea rows="3" cols="30" ng-model="post.entry1"></textarea> <br>Paragraph 2<br>
      <textarea rows="3" cols="30" ng-model="post.entry2"></textarea> <br>Images<br>
      <input type="text" ng-model="post.images[0]"/><br>
      <input type="text" ng-model="post.images[1]"/><br>
      <input type="text" ng-model="post.images[2]"/><br>
      <input type="text" ng-model="post.images[3]"/><br>
      <input type="text" ng-model="post.images[4]"/><br>
      <button type="submit">add post</button>
    </form>
    <br/>
    <ul ng-repeat="post in posts  | orderBy: 'date' : true">
     <li ng-show="postdiv"><input ng-model="post.title" ng-change="posts.$save(post)"/></li>
     <li><h4><button ng-click="posts.$remove(post)">X</button><span class="edittitle" ng-bind="post.title"  ng-click="postinfo = !postinfo"></span></h4>
     <div ng-show="postinfo">
<input type="text" ng-model="post.title" ng-change="posts.$save(post)"/><br>
      <textarea rows="3" cols="30" ng-model="post.excerpt" ng-change="posts.$save(post)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="post.entry1" ng-change="posts.$save(post)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="post.entry2" ng-change="posts.$save(post)"></textarea><br>
      <input type="text" ng-model="post.images[0]" ng-change="posts.$save(post)"/><br>
      <input type="text" ng-model="post.images[1]" ng-change="posts.$save(post)"/><br>
      <input type="text" ng-model="post.images[2]" ng-change="posts.$save(post)"/><br>
      <input type="text" ng-model="post.images[3]" ng-change="posts.$save(post)"/><br>
      <input type="text" ng-model="post.images[4]" ng-change="posts.$save(post)"/><br>
     </li>
  </ul>
</div>
</div>
</td><td valign="top">
<h2>TRAVEL</h2>
<div ng-controller="travelpostCtrl">
    <form ng-submit="addTravelPost(travelpost)">
      Date<br>
      <input type="text" ng-model="travelpost.date"/><br>
      Title<br>
      <input type="text" ng-model="travelpost.title"/><br>
      Excerpt<br>
      <textarea rows="3" cols="30" ng-model="travelpost.excerpt"></textarea> <br>Paragraph 1<br>
      <textarea rows="3" cols="30" ng-model="travelpost.entry1"></textarea> <br>Paragraph 2<br>
      <textarea rows="3" cols="30" ng-model="travelpost.entry2"></textarea> <br>Images<br>
      <input type="text" ng-model="travelpost.images[0]"/><br>
      <input type="text" ng-model="travelpost.images[1]"/><br>
      <input type="text" ng-model="travelpost.images[2]"/><br>
      <input type="text" ng-model="travelpost.images[3]"/><br>
      <input type="text" ng-model="travelpost.images[4]"/><br>
      <button type="submit">add post</button>
    </form><br>
   <ul ng-repeat="travelpost in travelposts  | orderBy: 'date' : true">
     <li ng-show="postdiv"><input ng-model="travelpost.title" ng-change="travelposts.$save(travelpost)"/></li>
     <li><h4><button ng-click="travelposts.$remove(travelpost)">X</button><span class="edittitle" ng-bind="travelpost.title"  ng-click="travelpostinfo = !travelpostinfo"></span></h4>
     <div ng-show="travelpostinfo">
<input type="text" ng-model="travelpost.title" ng-change="travelposts.$save(travelpost)"/><br>
      <textarea rows="3" cols="30" ng-model="travelpost.excerpt" ng-change="travelposts.$save(travelpost)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="travelpost.entry1" ng-change="travelposts.$save(travelpost)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="travelpost.entry2" ng-change="travelposts.$save(travelpost)"></textarea><br>
      <input type="text" ng-model="travelpost.images[0]"  ng-change="travelposts.$save(travelpost)"/><br>
      <input type="text" ng-model="travelpost.images[1]" ng-change="travelposts.$save(travelpost)"/><br>
      <input type="text" ng-model="travelpost.images[2]"  ng-change="travelposts.$save(travelpost)"/><br>
      <input type="text" ng-model="travelpost.images[3]"  ng-change="travelposts.$save(travelpost)"/><br>
      <input type="text" ng-model="travelpost.images[4]"  ng-change="travelposts.$save(travelpost)"/><br>
     </li>
  </ul>
</div>
</td></tr></table>
<table width="100%"><tr><td valign="top" width="50%">
<h2>STREET FOOD</h2>
<div ng-controller="foodpostCtrl">
    <form ng-submit="addFoodPost(foodpost)">
      Date<br>
      <input type="text" ng-model="foodpost.date"/><br>
      Title<br>
      <input type="text" ng-model="foodpost.title"/><br>
      Excerpt<br>
      <textarea rows="3" cols="30" ng-model="foodpost.excerpt"></textarea> <br>Paragraph 1<br>
      <textarea rows="3" cols="30" ng-model="foodpost.entry1"></textarea> <br>Paragraph 2<br>
      <textarea rows="3" cols="30" ng-model="foodpost.entry2"></textarea> <br>Images<br>
      <input type="text" ng-model="foodpost.images[0]"/><br>
      <input type="text" ng-model="foodpost.images[1]"/><br>
      <input type="text" ng-model="foodpost.images[2]"/><br>
      <input type="text" ng-model="foodpost.images[3]"/><br>
      <input type="text" ng-model="foodpost.images[4]"/><br>
      <button type="submit">add post</button>
    </form> <br>
   <ul ng-repeat="foodpost in foodposts  | orderBy: 'date' : true">
     <li ng-show="postdiv"><input ng-model="foodpost.title" ng-change="foodposts.$save(foodpost)"/></li>
    <li><h4 ><button ng-click="foodposts.$remove(foodpost)">X</button><span class="edittitle" ng-bind="foodpost.title" ng-click="foodpostinfo = !foodpostinfo"></span></h4>
     <div ng-show="foodpostinfo">
<input type="text" ng-model="foodpost.title" ng-change="foodposts.$save(foodpost)"/><br>
      <textarea rows="3" cols="30" ng-model="foodpost.excerpt" ng-change="foodposts.$save(foodpost)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="foodpost.entry1" ng-change="foodposts.$save(foodpost)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="foodpost.entry2" ng-change="foodposts.$save(foodpost)"></textarea><br>
      <input type="text" ng-model="foodpost.images[0]" ng-change="foodposts.$save(foodpost)"/><br>
      <input type="text" ng-model="foodpost.images[1]" ng-change="foodposts.$save(foodpost)"/><br>
      <input type="text" ng-model="foodpost.images[2]" ng-change="foodposts.$save(foodpost)"/><br>
      <input type="text" ng-model="foodpost.images[3]" ng-change="foodposts.$save(foodpost)"/><br>
      <input type="text" ng-model="foodpost.images[4]" ng-change="foodposts.$save(foodpost)"/><br>
     </li>
  </ul>
</div>
</td><td valign="top">
<h2>TECH</h2>
<div ng-controller="techpostCtrl">
    <form ng-submit="addTechPost(techpost)">
      Date<br>
      <input type="text" ng-model="techpost.date"/><br>
      Title<br>
      <input type="text" ng-model="techpost.title"/><br>
      Excerpt<br>
      <textarea rows="3" cols="30" ng-model="techpost.excerpt"></textarea> <br>Paragraph 1<br>
      <textarea rows="3" cols="30" ng-model="techpost.entry1"></textarea> <br>Paragraph 2<br>
      <textarea rows="3" cols="30" ng-model="techpost.entry2"></textarea> <br>Images<br>
      <input type="text" ng-model="techpost.images[0]"/><br>
      <input type="text" ng-model="techpost.images[1]"/><br>
      <input type="text" ng-model="techpost.images[2]"/><br>
      <input type="text" ng-model="techpost.images[3]"/><br>
		 <input type="text" ng-model="techpost.images[4]"/><br>
      <button type="submit">add post</button>
    </form><br>
   <ul ng-repeat="techpost in techposts  | orderBy: 'date' : true">
     <li ng-show="postdiv"><input ng-model="techpost.title" ng-change="techposts.$save(techpost)"/></li>
     <li><h4><button ng-click="techposts.$remove(techpost)">X</button><span class="edittitle" ng-bind="techpost.title"  ng-click="techpostinfo = !techpostinfo"></span></h4>
     <div ng-show="techpostinfo">
<input type="text" ng-model="techpost.title" ng-change="techposts.$save(techpost)"/><br>
      <textarea rows="3" cols="30" ng-model="techpost.excerpt" ng-change="techposts.$save(techpost)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="techpost.entry1" ng-change="techposts.$save(techpost)"></textarea><br>
      <textarea rows="3" cols="30" ng-model="techpost.entry2" ng-change="techposts.$save(techpost)"></textarea><br>
      <input type="text" ng-model="techpost.images[0]"  ng-change="techposts.$save(techpost)"/><br>
      <input type="text" ng-model="techpost.images[1]" ng-change="techposts.$save(techpost)"/><br>
      <input type="text" ng-model="techpost.images[2]"  ng-change="techposts.$save(techpost)"/><br>
      <input type="text" ng-model="techpost.images[3]"  ng-change="techposts.$save(techpost)"/><br>
      <input type="text" ng-model="techpost.images[4]"  ng-change="techposts.$save(techpost)"/><br>
     </li>
  </ul>
</div>
</td></tr></table>
<!-- END firebase -->
      </div>
  </div>

</section>
